#myTable{
    border: 1px solid rgb(235, 235, 235);
    border-spacing: 0px;
}
:root{
    --start-bg-color: linear-gradient( rgb(150, 253, 155),rgb(0, 255, 21));
    --start-color: #000000;

    --end-bg-color:linear-gradient(#ff5e56,#ff0000);;
    --end-color: #0a0a0a;

    --block-bg-color:linear-gradient(rgb(73, 73, 73), rgb(0, 0, 0));
    --block-color: white;

    --checking-bg-color:linear-gradient(rgb(255, 240, 103), rgb(250, 214, 14));
    --checking-color: #0a0a0a;

    --checked-bg-color:linear-gradient(rgb(148, 141, 64), rgb(194, 166, 6));
    --checked-color: #0a0a0a;

    --h-bg: var(--block-bg-color);
    --h-c: var(--block-color);
}

*{
    user-select: none;
}

button{
    width: 15vw;
    height: 35px;
    margin-left: 2px;
    margin-right: 2px;
}

body{
    margin: 0;
    overflow-x: hidden;
}

#actionbtns{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 15px 0px;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(185, 185, 185);
}

td{
    width: 5vw;
    height:6.5vh;
    text-align: center;
    font-size: .86em;
}

#tableContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h_start{
    --h-bg: var(--start-bg-color);
    --h-c: var(--start-color);
}
.h_end{
    --h-bg: var(--end-bg-color);
    --h-c: var(--end-color);
}
.h_block{
    --h-bg: var(--block-bg-color);
    --h-c: var(--block-color);
}

.checking{
    background-image: var(--checking-bg-color);
    color: var(--checking-color);
}

.checked{
    background-image: var(--checked-bg-color);
    color: var(--checked-color);
}

td:hover{
    background-image: var(--h-bg);
    color: var(--h-c);
    
}


.start{
    background-image: var(--start-bg-color);
    color: rgb(0, 0, 0);
}

.end{
    background-image: var(--end-bg-color);
    color: rgb(255, 255, 255);
}

.block{
    background-image: var(--block-bg-color);
    color: rgb(255, 255, 255);
}


#endPointer{
    position: absolute;
    text-align: center;
    top: 33vh;
    left: 13.6vw;
    border: 1px solid grey;
    border-radius: 5px;
    width: 500px;
    padding: 10px 13%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.527);
    color: red;
    background-color: rgb(56, 56, 56);
    z-index: 1000;
}

#darkOverlay{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: 800;
}